<!doctype html>
<html>
<head>
    <title>Ganbreeder | gene reference</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/index.css" rel="stylesheet">

    <style>
        #buttons {
            background: #80808030;
            padding: 0.5em;
            position: sticky;
            top: 0;
            text-align: center;
        }

        button a, button a:visited {
            color: initial;
            text-decoration: none;
        }

        hr {
            opacity: 0%;
        }
    </style>
</head>
<body>
    <header>
        <h1><a href='/'>Ganbreeder</a></h1>
        <p>Gene reference based on Artbreeder's categories. Can't 100% guarantee accuracy but should be a decent starting point.</p>
        <nav><a href="/starred">Starred</a> | <a href="/create">Create</a></nav>
    </header>

    <div id="buttons">
        <button onclick="expandElements(true)">open all</button>
        <button onclick="expandElements(false)">close all</button>
        <button><a href="#">scroll to top</a></button>
        <button><a href="#end">scroll to bottom</a></button>
    </div>

    <h2 id="accessories">accessories</h2>

    <details>
       <ul>
            <li>backpack</li>
            <li>bathing cap</li>
            <li>bib</li>
            <li>binoculars</li>
            <li>bolo tie</li>
            <li>bonnet</li>
            <li>bow</li>
            <li>bow tie</li>
            <li>brassiere</li>
            <li>clog</li>
            <li>cowboy boot</li>
            <li>cowboy hat</li>
            <li>crash helmet</li>
            <li>feather boa</li>
            <li>football helmet</li>
            <li>gasmask</li>
            <li>hair slide</li>
            <li>knee pad</li>
            <li>mailbag</li>
            <li>mask</li>
            <li>mitten</li>
            <li>neck brace</li>
            <li>necklace</li>
            <li>oxygen mask</li>
            <li>purse</li>
            <li>running shoe</li>
            <li>sandal</li>
            <li>scabbard</li>
            <li>shield</li>
            <li>ski mask</li>
            <li>snorkel</li>
            <li>sombrero</li>
            <li>sunglass</li>
            <li>sunglasses</li>
            <li>wig</li>
            <li>windsor tie</li>
        </ul> 
    </details>
    

    <h2 id="animals">animals</h2>

    <details>
        <ul>
            <li>african chameleon</li>
            <li>african crocodile</li>
            <li>african elephant</li>
            <li>agama</li>
            <li>alligator lizard</li>
            <li>american alligator</li>
            <li>american black bear</li>
            <li>american chameleon</li>
            <li>angora</li>
            <li>arabian camel</li>
            <li>arctic fox</li>
            <li>armadillo</li>
            <li>axolotl</li>
            <li>baboon</li>
            <li>badger</li>
            <li>banded gecko</li>
            <li>beaver</li>
            <li>bighorn</li>
            <li>bison</li>
            <li>black-footed ferret</li>
            <li>box turtle</li>
            <li>brown bear</li>
            <li>bullfrog</li>
            <li>capuchin</li>
            <li>cheetah</li>
            <li>chimpanzee</li>
            <li>colobus</li>
            <li>common iguana</li>
            <li>common newt</li>
            <li>cougar</li>
            <li>coyote</li>
            <li>dhole</li>
            <li>diamondback</li>
            <li>dingo</li>
            <li>echidna</li>
            <li>eft</li>
            <li>egyptian cat</li>
            <li>european fire salamander</li>
            <li>fox squirrel</li>
            <li>frilled lizard</li>
            <li>gazelle</li>
            <li>giant panda</li>
            <li>gibbon</li>
            <li>gila monster</li>
            <li>gorilla</li>
            <li>green lizard</li>
            <li>grey fox</li>
            <li>guenon</li>
            <li>guinea pig</li>
            <li>hamster</li>
            <li>hare</li>
            <li>hartebeest</li>
            <li>harvestman</li>
            <li>hippopotamus</li>
            <li>hog</li>
            <li>horned viper</li>
            <li>howler monkey</li>
            <li>hyena</li>
            <li>ibex</li>
            <li>ice bear</li>
            <li>impala</li>
            <li>indian elephant</li>
            <li>indri</li>
            <li>jaguar</li>
            <li>kit fox</li>
            <li>koala</li>
            <li>komodo dragon</li>
            <li>langur</li>
            <li>leatherback turtle</li>
            <li>leopard</li>
            <li>lesser panda</li>
            <li>lion</li>
            <li>llama</li>
            <li>loggerhead</li>
            <li>lycaenid</li>
            <li>lynx</li>
            <li>macaque</li>
            <li>madagascar cat</li>
            <li>marmoset</li>
            <li>marmot</li>
            <li>meerkat</li>
            <li>mink</li>
            <li>mongoose</li>
            <li>mud turtle</li>
            <li>orangutan</li>
            <li>otter</li>
            <li>ox</li>
            <li>patas</li>
            <li>persian cat</li>
            <li>platypus</li>
            <li>polecat</li>
            <li>porcupine</li>
            <li>proboscis monkey</li>
            <li>ram</li>
            <li>red fox</li>
            <li>red wolf</li>
            <li>sea cucumber</li>
            <li>sea urchin</li>
            <li>siamang</li>
            <li>siamese cat</li>
            <li>sidewinder</li>
            <li>skunk</li>
            <li>sloth bear</li>
            <li>snow leopard</li>
            <li>sorrel</li>
            <li>spider monkey</li>
            <li>spotted salamander</li>
            <li>squirrel monkey</li>
            <li>starfish</li>
            <li>tabby</li>
            <li>tailed frog</li>
            <li>terrapin</li>
            <li>three-toed sloth</li>
            <li>tiger</li>
            <li>tiger cat</li>
            <li>timber wolf</li>
            <li>titi</li>
            <li>tree frog</li>
            <li>triceratops</li>
            <li>trilobite</li>
            <li>tusker</li>
            <li>wallaby</li>
            <li>warthog</li>
            <li>water buffalo</li>
            <li>weasel</li>
            <li>whiptail</li>
            <li>white wolf</li>
            <li>wild boat</li>
            <li>wombat</li>
            <li>wood rabbit</li>
            <li>zebra</li>
        </ul>
    </details>

    

    <h2 id="architecture">architecture</h2>

    <details>
        <ul>
            <li>barn</li>
            <li>boathouse</li>
            <li>castle</li>
            <li>church</li>
            <li>dome</li>
            <li>mobile home</li>
            <li>monastery</li>
            <li>mosque</li>
            <li>palace</li>
            <li>planetarium</li>
            <li>stupa</li>
            <li>yurt</li>
        </ul>
    </details>

    <h2 id="birds">birds</h2>

    <details>
        <ul>
            <li>african grey</li>
            <li>albatross</li>
            <li>american coot</li>
            <li>american egret</li>
            <li>bald eagle</li>
            <li>bee eater</li>
            <li>bittern</li>
            <li>black grouse</li>
            <li>black stork</li>
            <li>black swan</li>
            <li>brambling</li>
            <li>bulbul</li>
            <li>bustard</li>
            <li>chickadee</li>
            <li>cock</li>
            <li>coucal</li>
            <li>crane</li>
            <li>dowitcher</li>
            <li>drake</li>
            <li>european gallinule</li>
            <li>flamingo</li>
            <li>goldfinch</li>
            <li>goose</li>
            <li>great grey owl</li>
            <li>hen</li>
            <li>hornbill</li>
            <li>house finch</li>
            <li>hummingbird</li>
            <li>indigo bunting</li>
            <li>jacamar</li>
            <li>jay</li>
            <li>junco</li>
            <li>king penguni</li>
            <li>kite</li>
            <li>limpkin</li>
            <li>little blue heron</li>
            <li>lorikeet</li>
            <li>macaw</li>
            <li>magpie</li>
            <li>ostritch</li>
            <li>oystercatcher</li>
            <li>partridge</li>
            <li>peacock</li>
            <li>pelican</li>
            <li>prairie chicken</li>
            <li>ptarmigan</li>
            <li>quail</li>
            <li>red-backed sandpiper</li>
            <li>red-breasted merganser</li>
            <li>redshank</li>
            <li>robin</li>
            <li>ruddy turnstone</li>
            <li>ruffled grouse</li>
            <li>spoonbill</li>
            <li>sulphur-crested cockatoo</li>
            <li>toucan</li>
            <li>vulture</li>
            <li>water ouzel</li>
            <li>white stork</li>
        </ul>
    </details>

    <h2 id="bugs">bugs</h2>

    <details>
        <ul>
            <li>admiral</li>
            <li>ant</li>
            <li>barn spider</li>
            <li>bee</li>
            <li>black and gold garden spider</li>
            <li>black widow</li>
            <li>cabbage butterfly</li>
            <li>centipede</li>
            <li>cicada</li>
            <li>cockroach</li>
            <li>cricket</li>
            <li>damselfly</li>
            <li>dragonfly</li>
            <li>dung beetle</li>
            <li>fly</li>
            <li>garden spider</li>
            <li>grasshopper</li>
            <li>ground beetle</li>
            <li>isopod</li>
            <li>lacewing</li>
            <li>ladybug</li>
            <li>leaf beetle</li>
            <li>leafhopper</li>
            <li>long-horned beetle</li>
            <li>mantis</li>
            <li>monarch</li>
            <li>rhinoceros beetle</li>
            <li>ringlet</li>
            <li>scorpion</li>
            <li>sulphur butterfly</li>
            <li>tarantula</li>
            <li>tick</li>
            <li>tiger beetle</li>
            <li>walking stick</li>
            <li>weevil</li>
            <li>wolf spider</li>
        </ul>
    </details>

    <h2 id="clothes">clothes</h2>

    <details>
        <ul>
            <li>abaya</li>
            <li>academic gown</li>
            <li>apron</li>
            <li>ballplayer</li>
            <li>bikini</li>
            <li>breastplate</li>
            <li>bulletproof vest</li>
            <li>cardigan</li>
            <li>chain mail</li>
            <li>cloak</li>
            <li>fur coat</li>
            <li>gown</li>
            <li>groom</li>
            <li>jean</li>
            <li>jersey</li>
            <li>kimono</li>
            <li>lab coat</li>
            <li>maillot</li>
            <li>military uniform</li>
            <li>miniskirt</li>
            <li>overskirt</li>
            <li>pajama</li>
            <li>poncho</li>
            <li>sarong</li>
            <li>scuba diver</li>
            <li>stole</li>
            <li>suit</li>
            <li>sweatshirt</li>
            <li>swimming trunks</li>
            <li>trench coat</li>
            <li>velvet</li>
            <li>vestment</li>
        </ul>
    </details>

    <h2 id="dogs">dogs</h2>

    <details>
        <ul>
            <li>affenpischer</li>
            <li>afghan hound</li>
            <li>african hunting dog</li>
            <li>airedale</li>
            <li>american staffordshire terrier</li>
            <li>appenzeller</li>
            <li>australian terrier</li>
            <li>basenji</li>
            <li>basset</li>
            <li>beagle</li>
            <li>bedlington terrier</li>
            <li>bernese mountain dog</li>
            <li>black-and-tan coonhound</li>
            <li>blenheim spaniel</li>
            <li>bloodhound</li>
            <li>bluetick</li>
            <li>border collie</li>
            <li>border terrier</li>
            <li>borzoi</li>
            <li>boston bull</li>
            <li>bouvier des flandres</li>
            <li>boxer</li>
            <li>brabancon griffon</li>
            <li>briard</li>
            <li>brittany spaniel</li>
            <li>bull mastiff</li>
            <li>cairn</li>
            <li>cardigan</li>
            <li>chesapeake bay retriever</li>
            <li>chihuahua</li>
            <li>chow</li>
            <li>clumber</li>
            <li>cocker spaniel</li>
            <li>collie</li>
            <li>curly-coated retriever</li>
            <li>dalmatian</li>
            <li>dandie dinmont</li>
            <li>doberman</li>
            <li>english foxhound</li>
            <li>english setter</li>
            <li>english springer</li>
            <li>entlebutcher</li>
            <li>eskimo dog</li>
            <li>flat-coated retriever</li>
            <li>french bulldog</li>
            <li>german shepherd</li>
            <li>german short-haired pointer</li>
            <li>giant schnauzer</li>
            <li>golden retriever</li>
            <li>gordon setter</li>
            <li>great dane</li>
            <li>great pyrenees</li>
            <li>greater swiss mountain dog</li>
            <li>groenendael</li>
            <li>ibizan hound</li>
            <li>irish setter</li>
            <li>irish terrier</li>
            <li>irish water spaniel</li>
            <li>irish wolfhound</li>
            <li>italian greyhound</li>
            <li>japanese spaniel</li>
            <li>keeshond</li>
            <li>kelpie</li>
            <li>kerry blue terrier</li>
            <li>komondor</li>
            <li>kuvasz</li>
            <li>labrador retriever</li>
            <li>lakeland terrier</li>
            <li>leonberg</li>
            <li>lhasa</li>
            <li>malamute</li>
            <li>malinois</li>
            <li>maltese dog</li>
            <li>mexican hairless</li>
            <li>miniature pinscher</li>
            <li>miniature poodle</li>
            <li>ministure schnauzer</li>
            <li>newfoundland</li>
            <li>norfolk terrier</li>
            <li>norweigan elkhound</li>
            <li>norwich terrier-</li>
            <li>old english sheepdog</li>
            <li>otterhound</li>
            <li>papillon</li>
            <li>pekinese</li>
            <li>pembroke</li>
            <li>pomeranian</li>
            <li>pug</li>
            <li>redbone</li>
            <li>rhodesian ridgeback</li>
            <li>rottweiler</li>
            <li>saint bernard</li>
            <li>saluki</li>
            <li>samoyed</li>
            <li>schipperke</li>
            <li>scotch terrier</li>
            <li>scottish deerhound</li>
            <li>sealyham terrier</li>
            <li>shetland sheepdog</li>
            <li>shih-tzu</li>
            <li>siberian husky</li>
            <li>silky terrier</li>
            <li>soft-coated wheaten terrier</li>
            <li>staffordshire bullterrier</li>
            <li>standard poodle</li>
            <li>standard schnauzer</li>
            <li>sussex spaniel</li>
            <li>tibetan mastiff</li>
            <li>tibetan terrier</li>
            <li>toy poodle</li>
            <li>toy terrier</li>
            <li>vizsia</li>
            <li>walker hound</li>
            <li>weimaraner</li>
            <li>welsh springer spaniel</li>
            <li>west highland white terrier</li>
            <li>whippet</li>
            <li>wire-haired fox terrier</li>
            <li>yorkshire terrier</li>
        </ul>
    </details>

    <h2 id="fish">fish</h2>

    <details>
        <ul>
            <li>anemone fish</li>
            <li>barracouta</li>
            <li>coho</li>
            <li>eel</li>
            <li>electric ray</li>
            <li>gar</li>
            <li>goldfish</li>
            <li>great white shark</li>
            <li>hammerhead</li>
            <li>lionfish</li>
            <li>puffer</li>
            <li>rock beauty</li>
            <li>stingray</li>
            <li>sturgeon</li>
            <li>tench</li>
            <li>tiger shark</li>
        </ul>
    </details>

    <h2 id="food">food</h2>

    <details>
        <ul>
            <li>acorn squash</li>
            <li>artichoke</li>
            <li>bagel</li>
            <li>banana</li>
            <li>bell pepper</li>
            <li>broccoli</li>
            <li>burrito</li>
            <li>butternut squash</li>
            <li>carbonara</li>
            <li>cardoon</li>
            <li>cauliflower</li>
            <li>cheeseburger</li>
            <li>chocolate sauce</li>
            <li>consomme</li>
            <li>cucumber</li>
            <li>cup</li>
            <li>custard apple</li>
            <li>dough</li>
            <li>eggnog</li>
            <li>espresso</li>
            <li>fig</li>
            <li>french loaf</li>
            <li>granny smith</li>
            <li>guacamole</li>
            <li>hay</li>
            <li>head cabbage</li>
            <li>hot pot</li>
            <li>hotdog</li>
            <li>ice cream</li>
            <li>ice lolly</li>
            <li>jackfruit</li>
            <li>lemon</li>
            <li>mashed potato</li>
            <li>meat loaf</li>
            <li>mushroom</li>
            <li>orange</li>
            <li>pineapple</li>
            <li>pizza</li>
            <li>pomegranate</li>
            <li>potpie</li>
            <li>pretzel</li>
            <li>red wine</li>
            <li>rotisserie</li>
            <li>spaguetti squash</li>
            <li>strawberry</li>
            <li>trifle</li>
            <li>zucchini</li>
        </ul>
    </details>

    <h2 id="instruments">instruments</h2>

    <details>
        <ul>
            <li>accordion</li>
            <li>acoustic guitar</li>
            <li>banjo</li>
            <li>bassoon</li>
            <li>cello</li>
            <li>cornet</li>
            <li>electric guitar</li>
            <li>flute</li>
            <li>french horn</li>
            <li>gong</li>
            <li>grand piano</li>
            <li>harmonica</li>
            <li>harp</li>
            <li>maraca</li>
            <li>marimba</li>
            <li>oboe</li>
            <li>organ</li>
            <li>sax</li>
            <li>steel drum</li>
            <li>trombone</li>
            <li>upright (piano)</li>
            <li>violin</li>
        </ul>
    </details>

    <h2 id="landscape">landscape</h2>

    <details>
        <ul>
            <li>alp</li>
            <li>breakwater</li>
            <li>cliff</li>
            <li>coral reef</li>
            <li>geyser</li>
            <li>lakeside</li>
            <li>promontory</li>
            <li>rapeseed</li>
            <li>sandbar</li>
            <li>seashore</li>
            <li>stonewall</li>
            <li>valley</li>
            <li>volcano</li>
            <li>wreck</li>
        </ul>
    </details>

    <h2 id="large-objects">large objects</h2>

    <details>
        <ul>
            <li>aircraft carrier</li>
            <li>airliner</li>
            <li>airship</li>
            <li>ambulance</li>
            <li>amphibian</li>
            <li>bullet train</li>
            <li>cab</li>
            <li>catamaran</li>
            <li>container ship</li>
            <li>convertible</li>
            <li>crane</li>
            <li>electric locomotive</li>
            <li>fire engine</li>
            <li>fireboat</li>
            <li>freight car</li>
            <li>garbage truck</li>
            <li>half track</li>
            <li>harvester</li>
            <li>jeep</li>
            <li>lifeboat</li>
            <li>limousine</li>
            <li>liner</li>
            <li>minibus</li>
            <li>minivan</li>
            <li>missile</li>
            <li>mobile home</li>
            <li>model t</li>
            <li>moving van</li>
            <li>obelisk</li>
            <li>oxcart</li>
            <li>passenger car</li>
            <li>pickup</li>
            <li>pirate</li>
            <li>plane</li>
            <li>police van</li>
            <li>projectile</li>
            <li>racer</li>
            <li>recreational vehicle</li>
            <li>school bus</li>
            <li>schooner</li>
            <li>snowmobile</li>
            <li>space shuttle</li>
            <li>speedboat</li>
            <li>sports car</li>
            <li>steam locomotive</li>
            <li>streetcar</li>
            <li>submarine</li>
            <li>tank</li>
            <li>thresher</li>
            <li>tow truck</li>
            <li>tractor</li>
            <li>trailer truck</li>
            <li>trimaran</li>
            <li>trolleybus</li>
            <li>warplane</li>
            <li>wing</li>
            <li>wreck</li>
            <li>yawl</li>
        </ul>
    </details>

    <h2 id="medium-objects">medium objects</h2>

    <details>
        <ul>
            <li>balance beam</li>
            <li>bannister</li>
            <li>barber chair</li>
            <li>bicycle-built-for-two</li>
            <li>bookcase</li>
            <li>cannon</li>
            <li>canoe</li>
            <li>cash machine</li>
            <li>chain saw</li>
            <li>chainlink fence</li>
            <li>chest</li>
            <li>chiffonier</li>
            <li>china cabinet</li>
            <li>desk</li>
            <li>dining table</li>
            <li>dishwasher</li>
            <li>disk brkae</li>
            <li>dogsled</li>
            <li>entertainment center</li>
            <li>fire screen</li>
            <li>flagpole</li>
            <li>forklift</li>
            <li>four-poster</li>
            <li>go-kart</li>
            <li>golfcart</li>
            <li>gondola</li>
            <li>grille</li>
            <li>guillotine</li>
            <li>horse cart</li>
            <li>jinrikisha</li>
            <li>lawn mower</li>
            <li>mailbox</li>
            <li>manhole cover</li>
            <li>mayople</li>
            <li>medicine chest</li>
            <li>moped</li>
            <li>motor scooter</li>
            <li>mountain bike</li>
            <li>notebook</li>
            <li>parachute</li>
            <li>parallel bars</li>
            <li>picket fence</li>
            <li>plow</li>
            <li>pole</li>
            <li>pool table</li>
            <li>printer</li>
            <li>punching bag</li>
            <li>quilt</li>
            <li>radiator</li>
            <li>rain barrel</li>
            <li>refrigerator</li>
            <li>rocking chair</li>
            <li>scoreboard</li>
            <li>sleeping bag</li>
            <li>sliding door</li>
            <li>snowplow</li>
            <li>space heater</li>
            <li>stove</li>
            <li>street sign</li>
            <li>stretcher</li>
            <li>studio couch</li>
            <li>swing</li>
            <li>television</li>
            <li>throne</li>
            <li>toilet seat</li>
            <li>traffic light</li>
            <li>tricycle</li>
            <li>tub</li>
            <li>turnstile</li>
            <li>unicycle</li>
            <li>vending machine</li>
            <li>washbasin</li>
            <li>washer</li>
        </ul>
    </details>



    <h2 id="other">other</h2>

    <details>
        <ul>
            <li>nipple</li>
            <li>web site</li>
        </ul>
    </details>


    <h2 id="patterns">patterns</h2>

    <details>
        <ul>
            <li>bearskin</li>
            <li>comic book</li>
            <li>jean</li>
            <li>prayer rug</li>
            <li>quilt</li>
            <li>theater curtain</li>
            <li>velvet</li>
            <li>wool</li>
        </ul>
    </details>


    <h2 id="plants-and-fungus">plants and fungus</h2>

    <details>
        <ul>
            <li>acorn</li>
            <li>agaric</li>
            <li>bolete</li>
            <li>buckeye</li>
            <li>coral fungus</li>
            <li>corn</li>
            <li>daisy</li>
            <li>ear</li>
            <li>earthstar</li>
            <li>gyromitra</li>
            <li>hen-of-the-woods</li>
            <li>hip</li>
            <li>ocarina</li>
            <li>stinkhorn</li>
            <li>yellow lady's slipper</li>
        </ul>
    </details>


    <h2 id="scenes">scenes</h2>

    <details>
        <ul>
            <li>altar</li>
            <li>apiary</li>
            <li>bakery</li>
            <li>barber chair</li>
            <li>barbershop</li>
            <li>bookshop</li>
            <li>butcher shop</li>
            <li>carousel</li>
            <li>cinema</li>
            <li>dock</li>
            <li>fountain</li>
            <li>greenhouse</li>
            <li>grocery store</li>
            <li>home theater</li>
            <li>library</li>
            <li>lumbermill</li>
            <li>maze</li>
            <li>park bench</li>
            <li>patio</li>
            <li>pier</li>
            <li>prison</li>
            <li>restaurant</li>
            <li>shoe shop</li>
            <li>shoji</li>
            <li>stage</li>
            <li>tobacco shop</li>
            <li>toyshop</li>
            <li>vault</li>
            <li>wardrobe</li>
        </ul>
    </details>


    <h2 id="small-objects">small objects</h2>

    <details>
        <ul>
            <li>abacus</li>
            <li>analog clock</li>
            <li>ashcan</li>
            <li>assault rifle</li>
            <li>balloon</li>
            <li>ballpoint</li>
            <li>band aid</li>
            <li>barbell</li>
            <li>barometer</li>
            <li>barrel</li>
            <li>barrow</li>
            <li>baseball</li>
            <li>basketball</li>
            <li>bassinet</li>
            <li>bath towel</li>
            <li>bathtub</li>
            <li>beach wagon</li>
            <li>beacon</li>
            <li>beaker</li>
            <li>bearskin</li>
            <li>beer bottle</li>
            <li>beer glass</li>
            <li>binder</li>
            <li>birdhouse</li>
            <li>bobsled</li>
            <li>book facket</li>
            <li>bottlecap</li>
            <li>brass</li>
            <li>broom</li>
            <li>bubble</li>
            <li>bucket</li>
            <li>buckle</li>
            <li>caldron</li>
            <li>can opener</li>
            <li>candle</li>
            <li>car mirror</li>
            <li>car wheel</li>
            <li>carpenter's kit</li>
            <li>carton</li>
            <li>cassette</li>
            <li>cassette player</li>
            <li>cd player</li>
            <li>cellular telephone</li>
            <li>chain</li>
            <li>chime</li>
            <li>christmas stocking</li>
            <li>cleaver</li>
            <li>cocktail shaker</li>
            <li>coffee mug</li>
            <li>coffeepot</li>
            <li>coil</li>
            <li>combination lock</li>
            <li>comic book</li>
            <li>computer keyboard</li>
            <li>confectionery</li>
            <li>corkscrew</li>
            <li>cradle</li>
            <li>crock pot</li>
            <li>croquet ball</li>
            <li>crossword puzzle</li>
            <li>crutch</li>
            <li>cuirass</li>
            <li>desktop computer</li>
            <li>dial telephone</li>
            <li>diaper</li>
            <li>digital clock</li>
            <li>digital watch</li>
            <li>dishrag</li>
            <li>doormat</li>
            <li>drum</li>
            <li>drumstick</li>
            <li>dumbbell</li>
            <li>dutch oven</li>
            <li>electric fan</li>
            <li>envelope</li>
            <li>espresso maker</li>
            <li>face powder</li>
            <li>file</li>
            <li>folding chair</li>
            <li>fountain pen</li>
            <li>frying pan</li>
            <li>gas pump</li>
            <li>goblet</li>
            <li>golf ball</li>
            <li>hair spray</li>
            <li>hammer</li>
            <li>hamper</li>
            <li>hand blower</li>
            <li>hand-held computer</li>
            <li>handkerchief</li>
            <li>hard disc</li>
            <li>hatchet</li>
            <li>holster</li>
            <li>honeycomb</li>
            <li>hook</li>
            <li>hoopskirt</li>
            <li>horizontal bar</li>
            <li>hourglass</li>
            <li>ipod</li>
            <li>iron</li>
            <li>jack-o-lantern</li>
            <li>jigsaw puzzle</li>
            <li>joystick</li>
            <li>knot</li>
            <li>ladle</li>
            <li>lampshade</li>
            <li>laptop</li>
            <li>lens cap</li>
            <li>letter opener</li>
            <li>lighter</li>
            <li>lipstick</li>
            <li>loafer</li>
            <li>lotion</li>
            <li>loudspeaker</li>
            <li>loupe</li>
            <li>magnetic compass</li>
            <li>matchstick</li>
            <li>measuring cup</li>
            <li>menu</li>
            <li>microphone</li>
            <li>microwave</li>
            <li>milk can</li>
            <li>mixing bowl</li>
            <li>modem</li>
            <li>monitor</li>
            <li>mortar</li>
            <li>mortarboard</li>
            <li>mosquito net</li>
            <li>mouse</li>
            <li>mousetrap</li>
            <li>muzzle</li>
            <li>nail</li>
            <li>odometer</li>
            <li>oil filter</li>
            <li>oscilloscope</li>
            <li>packet</li>
            <li>paddle</li>
            <li>paddlewheel</li>
            <li>padlock</li>
            <li>paintbrush</li>
            <li>panpipe</li>
            <li>paper towel</li>
            <li>parking meter</li>
            <li>pay-phone</li>
            <li>pedestal</li>
            <li>pencil box</li>
            <li>pencil sharpener</li>
            <li>perfume</li>
            <li>petri dish</li>
            <li>photocopier</li>
            <li>pick</li>
            <li>pickelhaube</li>
            <li>piggy bank</li>
            <li>pill bottle</li>
            <li>pillow</li>
            <li>ping-pong ball</li>
            <li>pinwheel</li>
            <li>pitcher</li>
            <li>plastic bag</li>
            <li>plate</li>
            <li>plate rack</li>
            <li>plunger</li>
            <li>polaroid camera</li>
            <li>pop bottle</li>
            <li>pot</li>
            <li>potter's wheel</li>
            <li>power drill</li>
            <li>prayer rug</li>
            <li>projector</li>
            <li>puck</li>
            <li>quill</li>
            <li>racket</li>
            <li>radio</li>
            <li>radio telescope</li>
            <li>reel</li>
            <li>reflex camera</li>
            <li>remote control</li>
            <li>revolver</li>
            <li>rifle</li>
            <li>rubber eraser</li>
            <li>rugby ball</li>
            <li>rule</li>
            <li>safe</li>
            <li>safety pin</li>
            <li>saltshaker</li>
            <li>scale</li>
            <li>screen</li>
            <li>screw</li>
            <li>screwdriver</li>
            <li>seat belt</li>
            <li>sewing machine</li>
            <li>shopping basket</li>
            <li>shopping cart</li>
            <li>shovel</li>
            <li>shower cap</li>
            <li>shower curtain</li>
            <li>ski</li>
            <li>slide rule</li>
            <li>slot</li>
            <li>soap dispenser</li>
            <li>soccer ball</li>
            <li>sock</li>
            <li>solar dish</li>
            <li>soup bowl</li>
            <li>space bar</li>
            <li>spatula</li>
            <li>spider web</li>
            <li>spindle</li>
            <li>spotlight</li>
            <li>stethoscope</li>
            <li>stopwatch</li>
            <li>strainer</li>
            <li>sundial</li>
            <li>sunscreen</li>
            <li>swab</li>
            <li>switch</li>
            <li>syringe</li>
            <li>table lamp</li>
            <li>tape player</li>
            <li>teapot</li>
            <li>teddy</li>
            <li>tennis ball</li>
            <li>thimble</li>
            <li>toaster</li>
            <li>toilet tissue</li>
            <li>torch</li>
            <li>tray</li>
            <li>tripod</li>
            <li>typewriter keyboard</li>
            <li>umbrella</li>
            <li>vacuum</li>
            <li>vase</li>
            <li>volleyball</li>
            <li>waffle iron</li>
            <li>wall clock</li>
            <li>wallet</li>
            <li>water bottle</li>
            <li>water jug</li>
            <li>whiskey jug</li>
            <li>whistle</li>
            <li>window screen</li>
            <li>window shade</li>
            <li>wine bottle</li>
            <li>wok</li>
            <li>wooden spoon</li>
        </ul>
    </details>


    <h2 id="snakes">snakes</h2>

    <details>
        <ul>
            <li>boa constrictor</li>
            <li>garter snake</li>
            <li>green mamba</li>
            <li>green snake</li>
            <li>hognose snake</li>
            <li>indian cobra</li>
            <li>king snake</li>
            <li>night snake</li>
            <li>ringneck snake</li>
            <li>rock python</li>
            <li>sea snake</li>
            <li>thunder snake</li>
            <li>vine snake</li>
            <li>water snake</li>
        </ul>
    </details>


    <h2 id="structures">structures</h2>

    <details>
        <ul>
            <li>bell cote</li>
            <li>birdhouse</li>
            <li>cliff dwelling</li>
            <li>crane</li>
            <li>dam</li>
            <li>drilling platform</li>
            <li>megalith</li>
            <li>mountain tent</li>
            <li>obelisk</li>
            <li>planetarium</li>
            <li>steel arch bridge</li>
            <li>suspension bridge</li>
            <li>thatch</li>
            <li>tile roof</li>
            <li>totem pole</li>
            <li>triumphal arch</li>
            <li>viaduct</li>
            <li>water tower</li>
            <li>worm fence</li>
        </ul>
    </details>


    <h2 id="underwater-creatures">underwater creatures</h2>

    <details>
        <ul>
            <li>american lobster</li>
            <li>brain coral</li>
            <li>chambered nautilus</li>
            <li>chiton</li>
            <li>conch</li>
            <li>crayfish</li>
            <li>dugong</li>
            <li>dungeness crab</li>
            <li>fiddler crab</li>
            <li>flatworm</li>
            <li>grey whale</li>
            <li>hermit crab</li>
            <li>jellyfish</li>
            <li>killer whale</li>
            <li>king crab</li>
            <li>nematode</li>
            <li>rock crab</li>
            <li>sea anemone</li>
            <li>sea lion</li>
            <li>sea slug</li>
            <li>slug</li>
            <li>snail</li>
            <li>spiny lobster</li>
        </ul>
    </details>

    <script>
        // Source - https://stackoverflow.com/a/68079421
        // Posted by ivi_does_it, modified by community. See post 'Timeline' for change history
        // Retrieved 2026-08-02, License - CC BY-SA 4.0

        const expandElements = shouldExpand => {
            let detailsElements = document.querySelectorAll("details");
            
            detailsElements = [...detailsElements];

            if (shouldExpand) {
                detailsElements.map(item => item.setAttribute("open", shouldExpand));
            } else {
                detailsElements.map(item => item.removeAttribute("open"));
            }
        };

    </script>

    
    <hr id="end">

    
</body>
</html>
