<!doctype html>
<html>
<head>
    <title>Ganbreeder</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/index.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href='/'>Ganbreeder</a></h1>
        <nav><a href="/latest">Latest</a> | <a href="/starred">Starred</a> | <a href="/randombatch">Generate new batch</a></nav>
    </header>

    <div class="image_container content">
        {% for key in keys %}
        <a class="imglink" href="/i?k={{ key }}"><img src="{{ root }}{{ key }}.jpeg"></a>
        {% endfor %}
    </div>

    
</body>
</html>
