<!doctype html>
<html>
<head>
    <title>Ganbreeder</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/index.css" rel="stylesheet" media="screen">
    <style>
        #star img {
            height: 25px;
            cursor: pointer;
        }

        .class_labels {
            max-width: 800px;
            text-align: left;
        }

        .class_labels p {
            display: inline;
            margin-right: 15px;
        }
    </style>
</head>
<body>
    <header>
        <a href="/"><h1>Ganbreeder</h1></a>
        <nav>
            {% if pkey %}
            <a href="/lineage?k={{ key }}">Lineage</a> | 
            {% endif %}
            <a href="/mix?parent1={{ key }}">Mix</a> | <a href="/edit?k={{ key }}">Edit genes</a> | <div id="star"><img></div> | <a href="/starred">Starred</a>
        </nav>
    </header>
    <section>           
        <img id="parent_image" src="{{ root }}{{ key }}.jpeg">

        <div id="loading_container">
            <img class="loading" src="/image/loading.gif" style="width:50%;">
            <p>Loading Children</p>
        </div>

        <div class="image_container content">
            {% for _ in range(12) %}
            <a class="imglink"><img></a>
            {% endfor %}
        </div>

        <div class="class_labels">
            {% for i in range(1000) %}
            {% if label[i] > 0.01 %}<p>{{ label_names[i] }}: {{ '%.2f'|format(label[i] * 100) }}%</p>{% endif %}
            {% endfor %}
        </div>

        <p style="font-size: 0.8em; padding-top: 0.5em;"><a href="/info?k={{ key }}">Image Data</a></p>
    </section>

    
    <script>
        const key = "{{ key }}";
        const root = "{{ root }}";
    </script>
    <script src="/utils.js"></script>
    <script src="/image.js"></script>
</body>
</html>
