<!doctype html>
<html>
<head>
    <title>Ganbreeder</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/index.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href='/'>Ganbreeder</a></h1>
        <p>Recently starred images</p>
    </header>

    <div class="image_container content">
        {% for image in images %}
        <a class="imglink" href="/i?k={{ image.key }}"><img src="{{ root }}{{ image.key }}.jpeg"></a>
        {% endfor %}
    </div>

    <div style="text-align:center;padding:50px;">
        <a href="/latest" style="margin-right:20px; text-align:center;">First Page</a>
        <a href="/latest?page={{ page + 1 }}" style="text-align:center;">Next Page</a>
    </div>
</body>
</html>
