<!doctype html>
<html>
<head>
    <title>Ganbreeder</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/index.css" rel="stylesheet">
    <style>
        form {
            text-align: center;
        }

        form.mixinput input[type=text] {
            width: 200px;
        }

        .container {
            text-align: center;
        }

        .container img {
            width: 128px;
            height: 128px;
            margin: 1em;
        }
    </style>
</head>
<body>
    <header>
        <h1><a href='/'>Ganbreeder</a></h1>
        <p>Paste in two ganbreeder links to mix</p>
        <nav><a href="/starred">Starred</a></nav>
    </header>

    <form class="mixinput">
        <input class="parent1" type="text" placeholder="Enter url" required>
        <input class="parent2" type="text" placeholder="Enter url" required>
        <button class="submit" type="submit" value="Submit">Mix</button>
    </form>

    <div class="container">
        <img class="parent">
        <img class="parent">
    </div>

    <div id="loading_container" style="display:none">
        <img class="loading" src="/image/loading.gif" style="width:50%;">
        <p>Loading children</p>
    </div>

    <div class="image_container content" style="display:none">
        {% for _ in range(12) %}
        <a class="imglink"><img></a>
        {% endfor %}
    </div>

    
    <script>
        const root = "{{ root }}";
    </script>
    <script src="/utils.js"></script>
    <script src="/mix.js"></script>
</body>
</html>
