/* variables */

:root {
    --bg: #eee;
    --text: #111;
    --accent: grey;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #222;
        --text: #ccc;
    }
}


/* css proper */

* {
    font-weight: normal;
}

body {
    color: var(--text);
    background: var(--bg);
    font-family: sans-serif;
    font-size: 14pt;
    
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 900px;
    padding: 1em;
}

p {
    text-align: justify;
    color: var(--accent);
    margin: 0 auto;
}

header {
    color: var(--text);
    text-align: center;
}

header p {
    text-align: inherit;
}

h1 {
    font-size: 1.5em;
}

a,
a:visited {
    color: var(--accent);
}

nav {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
}

button.submit {
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    display: block;
    margin: 1em auto;
}

button.submit:disabled {
    cursor: default;
    opacity: 0.5;
}


/* image stuff */

.image_container {
    margin: 1em auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 1em;
}

.image_container img {
    max-width: 100%;
    border: 1px solid var(--accent);
}

.image_container img:hover {
    border: 1px solid black;
}

/* this is the main image in a page */
#parent_image {
    display: block;
    margin: 1em auto;
}

/* what displays before new gen'd images load */
#loading_container {
    width: 100%;
    text-align: center;
}


/* responsive layout */

@media only screen and (max-width: 700px) {
    body {
        max-width: 100%;
        font-size: 13pt;
    }
    
    .image_container {
        /* Switch to 3-cols and 4 rows */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}